extends layout

block content
  .editor-container
    h2 Edit Blog Post
    
    form#editorForm(action="/editor/edit" method="POST")
      .editor-form-group
        label.editor-label Editing the post for
        p.date-display= post.date
        input(type="hidden" name="date" value=post.date)
      .editor-form-group
        label.editor-label(for="text") Post Content
        textarea#text(name="text" rows="15")= post.content          
      
      .cf-turnstile(data-sitekey=turnstileSiteKey)
      
      .editor-form-actions
        a.btn.btn-secondary(href="/editor/edit") Cancel
        button.submit-btn(type="submit") Save Changes
        