extends layout

block content
  .editor-container
    h2 Edit Blog Post
    form#editorForm(action="/editor/edit" method="POST")
      .editor-form-group
        label.editor-label(for="date") Editing the post for
        input#date(type="date" name="date" value=post.date)
      
      if post.date 
        .editor-form-group
          label.editor-label(for="text") Post Content
          textarea#text(name="text" rows="15")= post.content          
        .editor-submit
          button.editor-submit(type="submit" name="action" value="submit") Submit
      else
        .editor-submit
          button#loadBtn.editor-submit(type="submit" name="action" value="load") Load
