extends layout

block content
  .editor-container
    h2 Edit Blog Post
    
    form#editorForm(action="/editor/edit" method="POST")
      .editor-form-group
        label.editor-label(for="date") Editing the post for
        input#date(type="date" name="date" value=post.date required)
      .editor-form-group
        label.editor-label(for="text") Post Content
        textarea#text(name="text" rows="15")= post.content          
      
      .editor-form-actions
        button.submit-btn(type="submit") Save Changes
        