extends layout
block content
  .editor-container
    form(action="/editor/imgup" method="POST" enctype="multipart/form-data")
      .form-group.formGroup

      .form-group
        label(for="file") Choose File:
        input#file(type="file" name="file" required)

      if dateString
        .form-group
          label(for="dateField") You are uploading an image for:
          input#dateField(type="text" name="dateField" value=date readonly)

      if !dateString
        .form-group
          label.editor-label(for="date") Select a date:
          input#dateField(type="date" name="dateField" required)


      button.editor-submit(type="submit") Upload Image