extends layout
block content
  .main-content(style="margin: 0 auto; padding: 0; border: 1px solid black; height: 500px; display: flex; justify-content: center; align-items: center")
    h2(style="text-align: center") this is not it