doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/stylesheets/base.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/layout.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/navigation.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/posts.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/utilities.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/components.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/mobile.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/desktop.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/sandgods.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/uploader.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/editor.css?v=" + Date.now())
    link(rel="stylesheet", href="/stylesheets/popup.css?v=" + Date.now())
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

    script(src="/js/randomPostLink.js")
    script(src="/js/protectEditor.js")
    script(src="/js/popup.js")
    block head

  body
    nav.top-nav(style="border: 1px solid #000000;")
      .nav-content
        .menu-logo-container
          button.hamburger-menu
            i.fas.fa-bars
          a.logo.hasAvatar(href='/', title='a 365 blog')
            img.avatar(width='30', height='30', src='/images/avatar.jpg')
        .nav-links
          .menu-item
            a.light(href='#', title='blog') BLOG
            .submenu
              a.submenu-item(href='/posts') Latest Posts
              a.submenu-item(href='/tags/search') Search
              a.submenu-item(href='/tags/tagcloud') Tags              
              a.light#random-link(href='#', title='random post') Random Post
          .menu-item
            a.light(href='#', title='blog') EDITOR
            .submenu
              a.submenu-item(href='/editor') Create New
              a.submenu-item(href='/editor/edit') Edit Post
              a.submenu-item(href='/editor/imgupl') Upload Image
              if session.isAuthenticated
                a.submenu-item(href='/logout') Logout
              else
                a.submenu-item(href='/login?returnTo=/editor') Login           
          .menu-item
            a.light(href='https://gallery.hbvu.su', title='gallery') GALLERY
          .menu-item
            a.light(href='/pages/about', title='about') ABOUT
    .main-wrapper
      .main-content
        block content
    footer
      center © blind_swan_cage
    script(src="/js/navigation.js?v=" + Date.now())