doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/styles.css")
  body
    nav.top-nav(style="border: 1px solid #000000;")
      .nav-content
        a.logo.hasAvatar(href='/', title='a 365 blog')
          img.avatar(width='30', height='30', src='/images/avatar2.jpg')
        .nav-links
          a.light(href='/pages/archives.html', title='archive') ARCHIVE
          a.light(href='/pages/archives.html', title='archive') OTHERSTUFF
    .main-wrapper
      .main-content
        block content
         // The actual post content goes here
    footer
      center © blind_swan_cage