doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/styles.css")
    script(src="/javascripts/randomPostLink.js")

  body
    nav.top-nav(style="border: 1px solid #000000;")
      .nav-content
        a.logo.hasAvatar(href='/', title='a 365 blog')
          img.avatar(width='30', height='30', src='/images/avatar2.jpg')
        .nav-links
          a.light(href='/posts', title='archive') THE BLOG
          a.light#random-link(href='#', title='random post') RANDOM
          a.light(href='/pages/about', title='about') ABOUT
    .main-wrapper
      .main-content
        block content
         // The actual post content goes here
    footer
      center © blind_swan_cage