doctype html
html
  head
    title Blog Post
    link(rel='stylesheet', href='/stylesheets/style.css') // Link your CSS here
  body
    h1 Blog Post
    div.markdown-content!= content // Render parsed markdown content here

    footer
      p © Your Blog Name - All rights reserved.