/* components.css - Specific component styles */

#wordCloudCanvas {
  width: 500px; 
  height: 450px; 
  margin: 10px auto;
  background-color: #f9f9f9;
}
  
.editor-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #000;
  }