extends layout

block content
  div#blog-posts
    // Blog posts will be loaded here
  div.pagination
    button#prev-button Previous 5
    button#next-button Next 5  

  script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/2.1.3/marked.min.js')
  script(src='/javascripts/blog-loader.js')